.list-item {
    position: relative;
    display: block;
    padding: 14rpx 15rpx 14rpx 55rpx;
    line-height: inherit;
    text-align: left;
}
.list-item .meta {
    float: right;
    margin-bottom: 4rpx;
    margin-left: 10rpx;
    font-size: 22rpx;
    color: #6a737d;
}

.list-item-title {
    display: block;
    margin-right: 50rpx;
    margin-bottom: 6rpx;
    font-weight: 600;
    line-height: 1.2;
    color: #0366d6;
    word-break: break-word;
}
.list-item .byline {
    display: block;
    margin: 0;
    font-size: 24rpx;
    color: #586069;
}
.byline-name {
    font-weight: 400;
    color: #444d56;
    display: inline;
}
